body {
  /* height: 100vh; */
  background-color: #6bac47;
}

.max-width {
  max-width: 100%;
}

.max-height {
  max-height: 100%;
}

.menu-text {
  color: white;
}

.side-nav-btn {
  background-color: #a8d05f;
  margin: 50px;
  padding: 100px;
  color: white;
}

.navbar-style {
  background-color: #72963b;
}

.logo {
  padding-left: 10px;
}

.plant-button {
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  height: 200px;
  width: 150px;
}

#tomato {
  background-image: url(../public-2/plant-images/tomato.jpg);
}

#cucumber {
  background-image: url(../public-2/plant-images/cucumber.jpg);
}

#dill {
  background-image: url(../public-2/plant-images/dill.jpg);

}

#lettuce {
  background-image: url(../public-2/plant-images/lettuce.jpg);

}

#peppers {
  background-image: url(../public-2/plant-images/peppers.jpg);

}

#thyme {
  background-image: url(../public-2/plant-images/thyme.jpg);

}

#dill {
background-image: url(../public-2/plant-images/dill.jpg);
}

#spinach {
  background-image: url(../public-2/plant-images/spinach.jpg);

}

#sage {
  background-image: url(../public-2/plant-images/sage.jpg);

}

#rosemary {
  background-image: url(../public-2/plant-images/rosemary.jpg);
}
